__pycache__/
.coverage
.eggs/
.env
.installed.cfg
.pytest_cache/
.Python
.venv
.vscode/
*.csv
*.egg
*.egg-info/
*.json
*.log
*.nc
*.parquet
build/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
lib/
lib64/
MANIFEST
parts/
sdist/
share/python-wheels/
temp/
var/
venv/
wheels/